html, body {
  overflow-x: hidden;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #9370db;
}

audio,
iframe {
  max-width: 92%;
  width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}



audio {
  outline: none;
}

a.btn.btn-danger {
  width: fit-content;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    margin-left: 2rem;
  }

  a {
    margin-left: 0 !important;
  }

  audio,
  iframe {
    margin-left: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
